<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pantalla de Inicio</title>
    <link rel="stylesheet" href="../public/css/styles.css">
</head>
<body>
    <header>
        <h1>Bienvenido a la Aplicación de Inicio de Sesión</h1>
    </header>
    <main>
        <section>
            <h2>¡Has iniciado sesión correctamente!</h2>
            <p>Gracias por unirte a nuestra plataforma. Aquí puedes acceder a todas las funcionalidades disponibles.</p>
            <a href="../views/login.html">Cerrar sesión</a>
        </section>
    </main>
    <footer>
        <p>&copy; 2023 Tu Empresa. Todos los derechos reservados.</p>
    </footer>
</body>
</html>