<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Login</title>
  <link rel="stylesheet" href="/public/css/styles.css">
</head>
<body>
  <main>
    <h2>Iniciar sesión</h2>
    <form id="loginForm">
  <input type="email" name="email" required>
  <input type="password" name="password" required>
  <button type="submit">Iniciar sesión</button>
</form>
<div id="loginMsg"></div>
<script src="/public/js/login.js"></script>
    <p>¿No tienes cuenta? <a href="/views/register.html">Regístrate aquí</a></p>
  </main>
</body>
</html>